target/classes/RegisterEmployee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="tusar" password="xyz@123" database="test" doc:name="MySQL Configuration"/>
	<flow name="post:/register-employee:employee-config">
        <logger message="Started the fetch employee flow. The following payload is recieved. #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="919dc084-c38f-4162-bd95-0fb355ba6beb">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	Name: payload.Name,
	Location: payload.Location
}]]></dw:set-payload>
        </dw:transform-message>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query/>
        </db:insert>
        <logger message="The write is successful." level="INFO" doc:name="Logger"/>
	</flow>
</mule>
